[Unit]
Description=Jennifer Meara Portfolio
After=syslog.target network.target

[Service]
User=ubuntu
ExecStart=/bin/bash -c "source /home/ubuntu/portfolio/secrets.sh\
&& source /home/ubuntu/portfolio/env/bin/activate\
&& python3 /home/ubuntu/portfolio/server.py &>> /home/ubuntu/portfolio/flask.log"
Restart=always

[Install]
WantedBy=multi-user.target
