<!doctype html>

<html>
  <head>
    <title>Jennifer Meara Software Engineer</title>
    <!-- font links: -->
      <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

      <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

      <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

    <!-- fav icons -->
      <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
      <link rel="manifest" href="/static/site.webmanifest">
      <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#f55e61">
      <link rel="shortcut icon" href="/static/favicon.ico">
      <meta name="msapplication-TileColor" content="#f55e61">
      <meta name="msapplication-config" content="/static/browserconfig.xml">
      <meta name="theme-color" content="#ffffff">

    <!-- stylesheets -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

      <link href="/static/css/style.css" rel="stylesheet">
      
  </head>

  <body>
  <!-- Navigation bar -->
  <nav class="navbar fixed-top navbar-expand-lg bg-light col-12">

    <a class="navbar-brand" href="/"><img id="nav-logo"src="/static/img/jm-logo-sq.png"></a>

    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
          <a class="nav-link" href="/#about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/#tech">Tech</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/#experience">Experience</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/#projects">Projects</a>
        </li>
      </ul>
    </div>

  </nav>
  <br><br>

    {% block content %}INFO HERE{% endblock %}

    <footer>
      © 2018 Jennifer Meara<br>
      <a href="https://github.com/mearajennifer" target="blank"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/mearajennifer" target="blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/mearajl" target="blank"><i class="fab fa-linkedin-in"></i></a>
      <a class="send" href="mailto:&#106;&#101;&#110;&#110;&#105;&#102;&#101;&#114;&#064;&#106;&#109;&#101;&#097;&#114;&#097;&#046;&#099;&#111;&#109;"><i class="fas fa-at"></i></a>
    </footer>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

  </body>


</html>