{% extends 'base.html' %}

{% block content %}

  <main role="main" class="container">
    
    <div style="background:#f55e61" class="jumbotron top">
      <h1 class="display-4">Jennifer Meara</h1>
      
      <p class="lead"></p>
      
      <hr class="my-4">
      
      <p>Software Engineer. Everyday Adventurer.</p>

        <a href="https://github.com/mearajennifer" target="blank"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/mearajennifer" target="blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/mearajl" target="blank"><i class="fab fa-linkedin-in"></i></a>
        <a class="send" href="mailto:&#106;&#101;&#110;&#110;&#105;&#102;&#101;&#114;&#064;&#106;&#109;&#101;&#097;&#114;&#097;&#046;&#099;&#111;&#109;"><i class="fas fa-at"></i></a>

    </div>

    <div style="background:#fff" class="jumbotron bottom">

        <h4>About</h4>

        <hr class="my-4">

        <p>Before studying at Hackbright Academy, Jennifer worked for 15 years in marketing and project management. She started as a photo and studio coordinator directing teams and increasing efficiency of projects. Then, she managed multi-faceted marketing campaigns and social media channels for Kaiser Permanente. She always enjoyed building out new processes, as well as learning about the technical aspects of building websites.</p>

        <p>Despite a successful career, she found a love for coding and decided to embark on a new career in software engineering. She’s looking forward to work that plays to her strengths in solving problems, building new processes/programs or improving existing ones.
        </p><br><br>

        <h4>Projects</h4>

        <hr class="my-4">

        <p>Coming soon</p>
    
    </div>

</main>

<style>
  $('a.send').on('click', function(){
      var href = $(this).attr('href');
      $(this).attr('href', href.replace('badmail.', ''));
  });
</style>

{% endblock %}
