{% extends 'base.html' %}

{% block content %}

  <!-- Intro -->
  <div style="background:rgba(245, 94, 97, 1)" class="row" id="intro">
      <div class="container col-8">

        <h1 class="display-4">Jennifer Meara</h1>
        <hr class="my-4">
        <p>Software engineer. Project manager. Everyday adventurer.</p>

        <!-- Icons -->
        <a href="https://github.com/mearajennifer" target="blank"><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/mearajennifer" target="blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/mearajl" target="blank"><i class="fab fa-linkedin-in"></i></a>
        <a class="send" href="mailto:&#106;&#101;&#110;&#110;&#105;&#102;&#101;&#114;&#064;&#106;&#109;&#101;&#097;&#114;&#097;&#046;&#099;&#111;&#109;"><i class="fas fa-at"></i></a>
      </div>

    </div>

    <!-- About section -->
    <div style="background:rgba(255, 255, 255, .8)" class="row" id="about">
        <div class="container col-8">

          <h2>About</h2>
          <hr class="my-4">

          <p>Before studying at Hackbright Academy, Jennifer worked for 10+ years in marketing and project management. She started as a photo and studio coordinator directing teams and increasing efficiency of projects. Then, she managed multi-faceted marketing campaigns and social media channels for Kaiser Permanente. She always enjoyed building out new processes, as well as learning about the technical aspects of building websites.</p>

          <p>Despite a successful career, she found a love for coding and decided to embark on a new career in software engineering. She’s looking forward to work that plays to her strengths in solving problems, building new processes/programs or improving existing ones.
          </p>

        </div>
    </div>

    <!-- Technical skills section -->
    <div style="background:rgba(255, 255, 255, .8)" class="row" id="tech">
      <div class="container col-8">

        <h2>Tech & Tools</h2>
        <hr class="my-4">

        <!-- Icons from: https://github.com/konpa/devicon/ -->
        <i class="devicon-python-plain-wordmark" alt="Python"></i>
        <i class="devicon-postgresql-plain-wordmark" alt="Postgresql"></i>
        <i class="devicon-html5-plain-wordmark" alt="HTML"></i>
        <i class="devicon-css3-plain-wordmark" alt="CSS"></i>
        <i class="devicon-bootstrap-plain-wordmark" alt="Bootstrap"></i>
        <i class="devicon-github-plain-wordmark" alt="Github"></i>
        <i class="devicon-ubuntu-plain-wordmark" alt="Ubuntu"></i>
        
      </div>
    </div>

    <!-- Experience section -->
    <div style="background:rgba(255, 255, 255, .8)" class="row" id="experience">
      <div class="container col-8">

        <h2>Experience</h2>
        <hr class="my-4">

        <!-- Timeline -->
        <ul class="timeline">

        <!-- Item 1 -->
        <li>
          <div class="timeline-badge"><i class="fas fa-graduation-cap"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5 class="timeline-title">Hackbright Academy</h5>
            </div>
            <div class="timeline-body">
              <p>12-week intensive software engineering course for women.</p>
            </div>
          </div>
        </li>

        <!-- Item 2 -->
        <li class="timeline-inverted">
          <div class="timeline-badge"><i class="fas fa-mobile-alt"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5 class="timeline-title">Social Media PM</h5>
            </div>
            <div class="timeline-body">
              <p>Kaiser Permanente national social media channels advertising, brand
                advocacy program lead, training lead for regional CMS tools.</p>
            </div>
          </div>
        </li>

        <!-- Item 3 -->
        <li>
          <div class="timeline-badge"><i class="fas fa-briefcase"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5 class="timeline-title">Marketing Project Manager</h5>
            </div>
            <div class="timeline-body">
              <p>Managed yearly Open Enrollment (OE) campaign in 3 languages and multiple platforms (digital, print, video) to acquire and retain employer-sponsored members (80% of national sales).</p>
            </div>
          </div>
        </li>

        <!-- Item 4 -->
        <!-- <li class="timeline-inverted">
          <div class="timeline-badge"><i class="fas fa-briefcase"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Marketing Project Manager I</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis.</p>
            </div>
          </div>
        </li> -->

        <!-- Item 5 -->
        <!-- <li>
          <div class="timeline-badge"><i class="fas fa-briefcase"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Marketing Project Coordinator</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis.</p>
            </div>
          </div>
        </li> -->

        <!-- Item 6 -->
        <li class="timeline-inverted">
          <div class="timeline-badge"><i class="fas fa-briefcase"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5 class="timeline-title">Studio Coordinator</h5>
            </div>
            <div class="timeline-body">
              <p>Responsible for scheduling, producing and on-time delivery of all work completed by creative team.</p>
            </div>
          </div>
        </li>

        <!-- Item 7 -->
        <li>
          <div class="timeline-badge"><i class="fas fa-briefcase"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5 class="timeline-title">Photography Coordinator</h5>
            </div>
            <div class="timeline-body">
              <p>Increased photo shoot efficiency resulting in 60% more shots per day and came in at or below company budget.</p>
            </div>
          </div>
        </li>

        <!-- Item 8 -->
        <li class="timeline-inverted">
          <div class="timeline-badge"><i class="fas fa-graduation-cap"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5 class="timeline-title">The Ohio State University</h5>
            </div>
            <div class="timeline-body">
              <p>BA: Visual/Media Arts, Minor: Film Studies</p>
            </div>
          </div>
        </li>

      </ul>
      <!-- End timeline -->

      </div>
    </div>

    <!-- Projects section -->
    <div style="background:rgba(255, 255, 255, .8)" class="row" id="projects">
      <div class="container col-10">

        <h2>Projects</h2>
        <hr class="my-4">

        <div class="row">

          <div class="card mx-auto" style="width: 18rem;">
          <img class="card-img-top" src="/static/img/no_img.png" alt="no image">
            <div class="card-body">
              <h5 class="card-title">The Job Hunt</h5>
              <p class="card-text">Helps job seekers track applications.</p>
            </div>
          </div>

          <div class="card mx-auto" style="width: 18rem;">
          <img class="card-img-top" src="/static/img/no_img.png" alt="no image">
            <div class="card-body">
              <h5 class="card-title">Judgmental Eye</h5>
              <p class="card-text">Rate a movie, and be judged!</p>
            </div>
          </div>

          <div class="card mx-auto" style="width: 18rem;">
          <img class="card-img-top" src="/static/img/no_img.png" alt="no image">
            <div class="card-body">
              <h5 class="card-title">WhiskerWorld</h5>
              <p class="card-text">Terminal-based adventure game</p>
            </div>
          </div>

        </div>
      </div>
    </div>

<!-- js for address and carousel -->
<style>
  $('a.send').on('click', function(){
      var href = $(this).attr('href');
      $(this).attr('href', href.replace('badmail.', ''));
  });

</style>

{% endblock %}
